html , body {
    background-color: #E0E0E0;
    font-family: "Poppins", "Poppins", "Poppins", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #ffffff;
    height: 60px;
    width: 100% ;
}

main {
    margin: 15px 25px 15px 25px;
}

input{
    width: 100%;
    height: 42px;
    border: none;
    border-bottom: 1px solid #14248a;
    padding-left: 10px;
}

.cabecalho{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0px 25px;
    max-width: 100%;
    height: 60px;
}

.logo-invesport{
    width: 150px;
    object-fit: cover;
}

#i-menu, #i-user{
    color: #14248a;
    font-size: 32px;
}

#conheca{
    margin-top: 15px;
    font-size: 30px;
    color: #333333;
    display: block;
    text-align: center;
    font-family: "Poppins Bold", "Poppins", "Poppins", sans-serif;
}

#inve{
    color:#14248a;
}

#sport{
    color:#FF5B00;
}

.somos{
    background-color: #ffffff;
    padding: 15px;
    margin: 15px 0px 25px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-somos{
    font-family: "Poppins SemiBold", "Poppins", "Poppins", sans-serif;
    font-size: 20px;
    color: #333333;
    margin-bottom: 5px;
}

.text-somos{
    color: #333333;
    font-size: 14px;
    line-height: 19px;
}

#logo-somos{
    width: 102px;
    height: 105px;
    margin-right: 5px;
}

#encontre{
    color: #333333;
    font-size: 24px;
}

.box-funcionalidade {
    background-color: #f2f2f2;
    width: 100%;
    height: 140px;
}

#doa, #agenda, #compar, #perfil, #ass {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 80px;
    margin: 10px 0px;
    border-radius: 10px;
    color:#f2f2f2;
    background-color:#14248a;
}

.i-doacao, .i-calendario-user, .i-calen-clube, .i-foto, .i-plano{
    width: 45px;
    height: 45px;
    margin-left: 20px;
}

#text-doacao, #text-agenda, #text-compar, #text-perfil, #text-ass{
    font-size: 17px;
} 

.box-cadastrar-se{
    width: 100%;
    height: 160px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

#faca-parte{
    color: #333333;
    font-size: 22px;
}

#text-cadastrar{
    color: #333333;
    font-size: 16px;
    margin: 15px;
    padding: 0 10px;
}

#inve2{
    color: #ff5b00;
    font-size: 22px;
}

#sport2{
    color: #14248a;
    font-size: 22px;
}

#botao-cadastrar-ja{
    width: 90%;
    height: 50px;
    background-color: #FF5B00;
    border: 1px solid #FF5B00;
    border-radius: 8px;
}

#botao-cadastrar-ja>a{
    color: #ffffff;
    font-size: 21px;
    text-decoration-line: none;
}


footer {
    background-color: #14248a;
    padding: 15px 20px;
    color:#f2f2f2; 
    font-family: "Poppins SemiBold", "Poppins", "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
}

footer>h3{
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 20px;
}

footer>a{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
}
